<ul>
    {{#each fields}}
        <li>
            {{#equal type "number"}}
                <div class="item-content">
                  <input type="number" placeholder="{{label}}" id="{{id}}">
                </div>
            {{/equal}}
            {{#equal type "incr"}}
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">{{label}} <span class="badge" id="{{id}}-badge" style="font-size:17px">0</span></div>
                                <div class="item-input">
                                        <input type="hidden" id="{{id}}" val=0>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="list-button item-link list-color-green" onclick="$('#{{id}}')[0].value = Number($('#{{id}}')[0].value) + {{amount}}; $('#{{id}}-badge')[0].innerText = $('#{{id}}')[0].value">+{{amount}} {{{incrLabel}}}</a>
                    </li>
                    <li>
                        <a href="#" class="list-button item-link list-color-red" onclick="if($('#{{id}}')[0].value > 0){ $('#{{id}}')[0].value = Number($('#{{id}}')[0].value) - {{amount}}; $('#{{id}}-badge')[0].innerText = $('#{{id}}')[0].value }">-{{amount}} {{{incrLabel}}}</a>              
                        
            {{/equal}}
            {{#equal type "textarea"}}
                <div class="item-content">
                    <textarea class="resizable" id="{{id}}" placeholder="{{label}}"></textarea>
                </div>
            {{/equal}}
            {{#equal type "checkbox"}}
                <label class="label-checkbox item-content">
                    <input type="checkbox" id="{{id}}" onchange="{{onchange}}">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                      <div class="item-title">{{label}}</div>
                    </div>
                  </label>
            {{/equal}}
            {{#equal type "divider"}}
                <div class="list-group-title">{{label}}</div>
            {{/equal}}
            {{#equal type "grid2col"}}
                <div class="row">
                    {{#each cols}}
                        <div class="col-50">
                            {{#formtemplate this}}{{/formtemplate}}
                        </div>
                    {{/each}}      
                </div>
            {{/equal}}
            {{#equal type "grid4col"}}
                <div class="row">
                    {{#each cols}}
                        <div class="col-25">
                            {{#formtemplate this}}{{/formtemplate}}
                        </div>
                    {{/each}}      
                </div>
            {{/equal}}
        </li>
    {{/each}}
</ul>
