<div class="navbar">
    <div class="navbar-inner">
        <div>FRC Scout</div>
    </div>
</div>

<div class="toolbar tabbar tabbar-labels">
    <div class="toolbar-inner">				
        {{#each views}}
            <a href="#" class="tab-link" id="view-link-{{id}}" onclick="$('.form-view').hide(); $('.{{id}}').show(); $('.tab-link').removeClass('active'); $('.tab-link#view-link-{{id}}').addClass('active');" style="margin:0; padding:0;"><span style="margin:0; padding:0;" class="tabbar-label">{{name}}</span></a>
        {{/each}}
    </div>
</div>

<div class="page-content" id="form">					
    {{#each views}}
        <div class="list-block form-view {{id}}">
            {{#formtemplate this}}{{/formtemplate}}
            {{#equal view "final"}}
                <p class="buttons-row">
                    <button class="submit-button button button-big button-fill color-green">Submit</button>
                </p>
            {{/equal}}
        </div>
    {{/each}}                  	
</div>